*~
*.o
*.pyc
.dotest
.deps
Makefile.in
aclocal.m4
autom4te.cache
autostuff
config.h.in
configure
Makefile
config.h
config.log
config.status
stamp-h1
cubbyd
version.m4
cutcheck
cutcheck.c
cutgen
core
core.*
tags
*.gcda
*.gcno
*.gcov
